* {
    font-family: Tinos, sans-serif;
}

.title {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}

h1 {
    font-size: 52px;
    margin-bottom: 12px;
    margin-top: 5px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.headshot {
    margin-top: 50px;
    text-align: center;
    filter: grayscale(0%);
}

.headshot:hover {
    filter: grayscale(0%);
}

.links {
    font-size: 17px;
    margin-bottom: 30px;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: #ff5500;
}

.about {
    width: 670px;
    margin: 0 auto;
}

.fun-facts-list {
    font-size: 18px;

    li {
        margin-top: 10px;
    }
}

.short {
    text-align: center;
}

.section-heading {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}


img {
    border-radius: 8px;
}

/* Thank you https://www.freecodecamp.org/news/how-to-create-a-mansory-layout-using-html-and-css/ */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    font-size: 20px;
}

.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.4fr));
    grid-auto-rows: 10px;
    gap: 20px;
    margin-top: 50px;

    img {
        width: 100%;
    }
}

.item {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.item:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
    filter: grayscale(0%);
}

.chip {
  font-family: Arial, sans-serif;
  display: inline-block;
  padding: 0 12px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 25px;
  background-color: #f6f6f6;
}

.chip-container {
    width: 100%;
    margin-top: 20px;
}

.item1 {
    grid-row: span 16;
}

.item2 {
    grid-row: span 15;
}

.item3 {
    grid-row: span 17;
}

.item4 {
    grid-row: span 10;
}

.item5 {
    grid-row: span 15;
}

.item6 {
    grid-row: span 11;
}

.item7 {
    grid-row: span 12;
}

.item8 {
    grid-row: span 8;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
}

.box {
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

/* Thank you https://www.w3schools.com/howto/howto_css_cards.asp */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-text {
  padding: 2px 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;

  img {
  border-radius: 5px 5px 0 0;
}
}

.card-link {
    text-decoration: none;
}

.card-link:hover {
    color: black;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    .a {
        margin-top: 0px;
    }
    .b {
        margin-top: 10px;
    }

}

.card-subtitle {
    font-size: 16px;
    margin-top: 10px;
}
.grid-sections-wrapper {
    padding: 10px;
}
