* {
    font-family: Tinos, serif;
}

.title {
    margin-top: 18px;
    margin-bottom: 60px;
    text-align: center;
}

h1 {
    font-size: 42px;
    margin-bottom: 12px;
    margin-top: 5px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.banner {
    text-align: center;
    margin: 0 auto;
    padding: 0;

    img {
        width: 100%;
        border-radius: 0px;
    }
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -125px;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    object-position: center top; /* Adjusts the image position within container, moves it up */
    filter: grayscale(100%);
}

.links {
    font-size: 17px;
    margin-bottom: 30px;
    margin-top: 16px;
}

.highlight-links {
    font-size: 12px;
    marin-top: 0px;
    margin-bottom: 10px;
}

.email-icon {
    display: inline-block;
}

.email-icon i {
    font-size: 18px;
    transition: transform 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    color: #313131;
}

.email-icon i:hover {
    color: tomato;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: #ff5500;
}

.about {
    width: 670px;
    margin: 0 auto;
}

.fun-facts-list {
    font-size: 18px;

    li {
        margin-top: 10px;
    }
}

.short {
    text-align: center;
}

.section-heading {
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}


img {
    border-radius: 8px;
}

/* Thank you https://www.freecodecamp.org/news/how-to-create-a-mansory-layout-using-html-and-css/ */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 19px;
}

.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.4fr));
    grid-auto-rows: 10px;
    gap: 20px;
    margin: 30px 20px 20px 20px;

    img {
        width: 100%;
    }
}

.item {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.item:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
    filter: grayscale(0%);
}

.item:hover .photo-tooltip {
    opacity: 1;
    visibility: visible;
}

.photo-tooltip {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(72, 72, 72, 0.8);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    white-space: nowrap;
}

.chip {
  font-family: Arial, sans-serif;
  display: inline-block;
  padding: 0 12px;
  height: 26px;
  font-size: 15px;
  line-height: 26px;
  border-radius: 25px;
  background-color: #f5f5f5;
}

.chip-container {
    width: 100%;
    margin-top: 20px;
}

.item1 {
    grid-row: span 16;
}

.item2 {
    grid-row: span 16;
}

.item3 {
    grid-row: span 18;
}

.item4 {
    grid-row: span 10;
}

.item5 {
    grid-row: span 16;
}

.item6 {
    grid-row: span 12;
}

.item7 {
    grid-row: span 13;
}

.item8 {
    grid-row: span 9;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap: 10px;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 92%;
  max-width: 1000px;
  min-width: 900px;
}

.box {
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

/* Thank you https://www.w3schools.com/howto/howto_css_cards.asp */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-text {
  padding: 2px 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;

  img {
  border-radius: 5px 5px 0 0;
}
}

.card-link {
    text-decoration: none;
}

.card-link:hover {
    color: black;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    .a {
        margin-top: 0px;
    }
    .b {
        margin-top: 10px;
    }

}

.card-subtitle {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.grid-sections-wrapper {
    padding: 10px;
}

table {
    font-size: 17px;
}

.publications-table {
    td {
        vertical-align: baseline;
        padding: 7px;
    }
}


.authors {
    font-size: 14px;
    margin-top: 5px;
}

.note {
    font-size: 13px;
    font-style: italic;
    margin-top: 16px;
}

.education-wrapper {
    margin-top: 50px;

    table {
        margin: 0 auto;
    }
}

.education-table {
    td {
        padding: 2px 4px 2px 4px;
    }
}

.grid-sections-wrapper {
    table {
        margin: 0 auto;
    }
}

.work-table {
  width: 92%;
  max-width: 900px;
  min-width: 700px;
  table-layout: fixed;

    tr {
        line-height: 36px;
    }
}

.work-cell {
    padding: 1px;
}

.header-cell {
    text-align: center;
    font-size: 14px;
    padding: 1px;
}

.row-label-cell {
    text-align: left;
    padding: 1px 1px 1px 7px;
    font-size: 17px;
}

.timebar {
    border-radius: 10px;
}

/* Thank you https://stripesgenerator.com/ */
.all-five-stripes {
    background-image: linear-gradient(180deg, #f8b4b4 10%, #c8ece3 10%, #c8ece3 20%, #d4d2af 20%, #d4d2af 30%, #f8d5b5 30%, #f8d5b5 40%, #e6c6d4 40%, #e6c6d4 50%, #f8b4b4 50%, #f8b4b4 60%, #c8ece3 60%, #c8ece3 70%, #d4d2af 70%, #d4d2af 80%, #f8d5b5 80%, #f8d5b5 90%, #e6c6d4 90%, #e6c6d4 100%);
    background-size: 70.00px 70.00px;
    height: 35px;
}

.cv-stripes {
    background-image: linear-gradient(180deg, #f8b4b4 25%, #c8ece3 25%, #c8ece3 50%, #f8b4b4 50%, #f8b4b4 75%, #c8ece3 75%, #c8ece3 100%);
    background-size: 28.00px 28.00px;
    height: 14px;
}

.vr-stripes {
    background-image: linear-gradient(180deg, #f8b4b4 25%, #f8d5b5 25%, #f8d5b5 50%, #f8b4b4 50%, #f8b4b4 75%, #f8d5b5 75%, #f8d5b5 100%);
    background-size: 28.00px 28.00px;
    height: 14px;
}

.dtx-stripes {
    background-image: linear-gradient(180deg, #f8b4b4 16.67%, #c8ece3 16.67%, #c8ece3 33.33%, #f8d5b5 33.33%, #f8d5b5 50%, #f8b4b4 50%, #f8b4b4 66.67%, #c8ece3 66.67%, #c8ece3 83.33%, #f8d5b5 83.33%, #f8d5b5 100%);
    background-size: 42.00px 42.00px;
    height: 21px;
}

.active {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.for-more {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.chip-legend {
    text-align: center;
    margin-bottom: 20px;
}

.peach {
    background-color: #f8d5b5;
}

.mint {
    background-color: #C8ECE3;
}

.melon {
    background-color: #F8B4B4;
}

.pearl {
    background-color: #D4D2AF;
}

.purple {
    background-color: #E6C6D4;
}

/* Thank you ChatGPT */
/* Tooltip container styles */
.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: default;
  padding: 0px;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
}

/* Tooltip styles */
.tooltip {
  visibility: hidden;
  background-color: rgba(72, 72, 72, 0.9);
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  bottom: 125%; /* Position above the container */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  white-space: nowrap;
  line-height: 18px;
  font-size: 16px;
}

/* Tooltip arrow */
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* Bottom of the tooltip */
  left: 50%; /* Center relative to the tooltip-container */
  transform: translateX(-50%); /* Adjust horizontal alignment */
  border-width: 5px;
  border-style: solid;
  border-color: rgba(72, 72, 72, 0.9) transparent transparent transparent;
}

/* Show tooltip on hover */
.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Toolbar styles. Thanks ChatGPT. */
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    background: transparent;
    z-index: 1000;
    padding: 10px 0;
}

.toolbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.toolbar-links li {
    margin: 0 15px;
}

.toolbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    letter-spacing: 2px;
}

.toolbar-links a:hover {
    color: #ebeb00;
}

footer {
    font-size: 12px;
    color: grey;
    margin-left: 20px;
    margin-bottom: 10px;
}
